<section class="colored-section" id="title">

        <!-- Nav Bar -->
        <div class="container-fluid">
    
    
          <nav class="navbar navbar-expand-lg navbar-dark ">
    
            <a class="navbar-brand" href="">Quora</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#footer">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pricing">Login</a>
                </li>
    
              </ul>
    
            </div>
          </nav>
    
        </div>
      </section>