{% extends 'base.html' %}


{% load static %}

{% block title %}| Welcome{% endblock %}
{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}


  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if categories %}
          {% for category in categories %}
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ category.photo.url }}" alt="">
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ category.title }}</h4>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                      <p>{{ category.description }}</p>
                      <a href="{% url 'login' %}" class="btn-card">Read</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Categories Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
    
{% endblock %}